@model WebApplication3.Models.User

@{
    ViewBag.Title = "Index";
    Layout = null;

}

<!DOCTYPE HTML>
<!--
    Editorial by HTML5 UP
    html5up.net |
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>Admin - Add Users</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="@Url.Content("~/Content/")assets/css/main.css" />
    <style type="text/css">
        .req {
            width: 100%;
            height: 50px;
        }
    </style>
</head>
<body>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">

                <!-- Header -->
                <header id="header">
                    <a href="index.html" class="logo"><strong>Editorial</strong> by HTML5 UP</a>
                    <ul class="icons">
                        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                        <li><a href="#" class="icon fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
                        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                        <li><a href="#" class="icon fa-medium"><span class="label">Medium</span></a></li>
                    </ul>
                </header>

                <!-- Content -->
                <section>
                    <header class="main">
                        <h1>Welcome</h1>
                    </header>

                    <!-- Content -->


                    <hr class="major" />

                    <!-- Elements -->
                    <h2 id="elements">Home</h2>
                    <div class="row 200%">
                        <div class="12u$ 12u$(medium)">
                            <form method="post" action="/Admin/UserAdd" enctype="multipart/form-data">
                                <div class="row uniform">
                                    <div class="6u 12u$(xsmall)">
                                        <input type="text" name="Name" id="demo-name" value="" placeholder="Name"/>
                                    </div>
                                    <div class="10u$ 12u$(xsmall)">
                                        <input type="text" name="Pass" id="demo-name" value="" placeholder="Password"/>
                                    </div>
                                    <div class="10u$ 12u$(xsmall)">
                                        <input type="text" name="Addr" id="demo-name" value="" placeholder="Email"/>
                                    </div>
                                    <div class="10u$ 12u$(xsmall)">
                                        <input type="number" name="CPU" id="demo-name" value="" placeholder="CPU"/>
                                    </div>
                                    <div class="10u$ 12u$(xsmall)">
                                        <input type="number" name="Ram" id="demo-name" value="" placeholder="Ram"/>
                                    </div>
                                    <div class="10u$ 12u$(xsmall)">
                                        <input type="number" name="GPU" id="demo-name" value="" placeholder="GPU"/>
                                    </div>
                                    @if (ViewBag.Error != null)
                                    {
                                        <div class="10u$ 12u$(xsmall)">
                                            <label class="label-warning">User not Added</label>
                                        </div>
                                    }
                                    <div class="10u$ 12u$(xsmall)">
                                        
                                    </div>
                                        <!-- Break -->
                                        <div class="12u$">
                                            <ul class="actions">
                                                <li><input type="submit" value="Add User" class="special" /></li>
                                                <!--<li><input type="reset" value="Reset" /></li>-->
                                            </ul>
                                        </div>
                                    </div>
                            </form>
                        </div>

                    </div>



                </section>

            </div>
        </div>

        @Html.Partial("_NavPartial")


    </div>

    @Html.Partial("_ScriptsPartial")

</body>
</html>